<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Collector App</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Collecting Height</h1>
      <h3>Please fill the entries to get population statistics on heightt</h3>

      <form action="{{url_for('success')}}" method="POST">
        <div class="input-container">
          <input
            class="input"
            type="email"
            title="Enter your email address"
            placeholder="Enter your email address"
            name="email_input"
            required
          />
          <input
            class="input"
            type="number"
            title="Enter your height"
            placeholder="Enter your height"
            name="height_input"
            min="50"
            max="300"
            required
          />
          <div class="message">{{text | safe}}</div>
          <button type="submit" class="submit-button">Submit</button>
        </div>
      </form>
    </div>
    <div />
  </body>
</html>
