<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Collector App</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Get Coordinates</h1>
      <h3>
        Please submit a .csv file with the Adresses you want to get coordinates
      </h3>
      <h3>The file must have an "Address" column in it</h3>
      <form
        action="{{url_for('success')}}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="input-container">
          <input
            class="fil"
            type="file"
            title="Enter a file"
            placeholder="Enter a file"
            name="file_input"
            accept=".csv"
            required
          />
          <div class="message">{{text | safe}}</div>
          <button type="submit" class="submit-button">Submit</button>
        </div>
      </form>
    </div>
    <div />
  </body>
</html>
